@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  @apply bg-[#141718];
}
.auth-header {
  /* Headline 4 */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 44px; /* Neutral/07/100% */
  color: #fefefe;
}
.auth-desc {
  /* Body 2 */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px; /* identical to box height, or 162% */ /* Neutral/04/100% */
  color: #6c7275;
}
.auth-label {
  /* Body 2 */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px; /* line-height: 26px; */ /* identical to box height, or 162% */ /* Neutral/04/100% */
  color: #e8ecef;
}
.forgot-password {
  /* Body 2 (Semi) */
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px; /* identical to box height, or 162% */ /* Neutral/07/100% */
  color: #c6e4d6;
}
.checkbox {
  /* Neutrals/8 */
  background: #fcfcfd; /* Neutral/04/100% */
  border: 1.5px solid #6c7275;
  border-radius: 4px;
}
.auth-btn {
  /* Neutral/07/100% */
  background: #fefefe;
  border-radius: 8px;
  padding-top: 10px;
  padding-bottom: 10px; /* Button S */
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #232627;
}
.input {
  /* Neutral/03/100% */
  border-bottom: 2px solid #e8ecef;
  padding-right: 4px;
  padding-left: 4px;
  background: transparent; /* height: 15px; */ /* transition: padding-top 0.3s, padding-bottom 0.3s; */
  transition: padding-top 0.08s ease-out, padding-bottom 0.08s ease-out;
}
.input:focus {
  padding-top: 8px;
  padding-bottom: 8px;
  height: auto;
}
